body
{
    background-color: lightgrey;
}

.column {
    float: left;
    width: 33.33%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

h1 {
    color: black;
    text-align: left;
    font-family: Calibri;
    font-size: 48px;
}

h2 {
    color: black;
    text-align: left;
    font-family: Calibri;
    font-size: 36px;
}

h3 {
    color: black;
    text-align: left;
    font-family: Calibri;
    font-size: 24px;
}

p {
    color: black;
    text-align: left;
    font-family: Calibri;
    font-size: 20px;
}

article.outset {
    border-style: outset;
}

div {
    width: 300px;
    border: outset;
    padding: 50px;
    margin: 20px;
}