ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: #000;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

table {
  width: 20rem;
  padding: 1rem;
  margin: 1rem;
}

#table {
  border: solid;
}

#tierType {
  text-align: center;
}

#arcSkill {
  background-color: #70C6E4;
  color: #000000;
  text-align: center;
}

#description {
  background-color: #000000;
  color: #FFFFFF;
}

#connections {
  background-color: #000000;
  color: #FFFFFF;
}

#upgrades {
  background-color: #000000;
  color: #FFFFFF;
}
